[keys]
# Path to private key
private_key =

[servers]
netact_jh =
netact_ip =
localhost = 127.0.0.1

[usernames]
jh_username = ubuntu
netact_username = root

[passwords]
netact_pwd =

[paths]
# paths on remote server to retrieve stats from
path_a =
path_b =

# local path to save stats to
local_path =